@media (max-width: 1280px) {
    body {
        .main {
            .main-section {
                .container {
                    .img-container {
                        top: -30px;
                        scale: 0.8;
                        right: -340px;
                    }
                }
            }

            .advantages-section {
                .container {
                    .container-content {
                        .card-wrapper {
                            .custom-card {
                                .card-img {
                                    width: 288px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}