@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/f46b471b64b5efc23e07beec56c692e3?family=Why+Square+LT+Std+Cyrillic');
@import url('../fonts/Bebasneue/bebasneue.css');
@import url('../fonts/Muller/stylesheet.css');
// @import url('../fonts/Micra/stylesheet.css');

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: rgb(5, 5, 5);

    .container {
        max-width: 1320px;
        margin: 0 auto;
    }

    .header {
        position: relative;
        z-index: 6;
        margin-bottom: -130px;

        .navbar {
            position: relative;
            z-index: 2;
            padding: 44px 0;

            .container {
                .collapse {
                    .navbar-nav {
                        margin-left: auto;

                        .nav-item {
                            padding: 0 20px;

                            .nav-link {
                                color: #FFF;
                                font-family: Montserrat;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                text-transform: uppercase;
                            }

                            .nav-link:hover {
                                color: #FFC700;
                            }
                        }

                        .nav-item.active {
                            .nav-link {
                                color: #FFC700;
                            }
                        }

                        .nav-item:nth-child(3) {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .main {
        .main-section {
            background: url('../images/main-section-bg2.png') no-repeat center top -180px;

            .bg-image {
                position: absolute;
            }

            .bg-image1 {
                left: -310px;
                top: -50px;
                z-index: 2;
            }

            .bg-image2 {
                right: -100px;
                top: 220px;
            }

            .bg-image3 {
                right: 500px;
                top: 70px;
            }

            .bg-image4 {
                right: 340px;
                top: 120px;
            }

            .bg-image5 {
                left: 580px;
                top: 590px;
            }

            .bg-image6 {
                left: -120px;
                top: 110px;
            }

            .bg-image7 {
                right: -500px;
                top: 500px;
            }

            .bg-image8 {
                left: -540px;
                top: 460px;
            }

            .bg-image1 {
                animation: imageOneAnim 4s ease-in-out alternate infinite;
                animation-delay: 2s;
            }

            @keyframes imageOneAnim {
                0% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(-8px);
                }
            }

            .bg-image2 {
                animation: imageTwoAnim 4s ease-in-out alternate infinite;
                animation-delay: 3s;
            }

            @keyframes imageTwoAnim {
                0% {
                    transform: translateY(4px);
                }

                100% {
                    transform: translateY(-4px);
                }
            }

            .top-bg {
                position: absolute;
                top: 0;
                z-index: 1;
                left: -300px;
                background: url(../images/top-bg2.png) no-repeat center top;
                width: 1660px;
                height: 50px;
            }

            .container {
                position: relative;
                display: flex;
                justify-content: space-between;

                .container-content {
                    width: max-content;
                    display: grid;
                    position: relative;
                    padding-top: 208px;
                    padding-bottom: 410px;

                    h2 {
                        font-family: 'Bebas Neue';
                        font-size: 120px;
                        font-style: normal;
                        font-weight: 700;
                        text-transform: uppercase;

                    }

                    h2.t-white {
                        line-height: 140px;
                        background: radial-gradient(circle, #FFF 44.57%, #F90 119.8%);
                        background-size: 180% 180%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: gradientSlide 10s ease-in-out infinite;
                    }

                    h2.t-orange {
                        margin-top: -20px;
                        line-height: 93.225px;
                        background: radial-gradient(circle, #FFC700 18.5%, #FF8A00 72.4%);
                        background-size: 180% 180%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: gradientSlide 10s ease-in-out infinite;
                        animation-delay: 5s;
                    }

                    .tag-p {
                        position: absolute;
                        right: 28px;
                        top: 440px;
                        width: 270px;
                        height: 54px;
                        border-radius: 83.971px;
                        background: url('../images/tag-bg.png') no-repeat center / cover;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 8px;
                            margin-right: 12px;
                        }

                        span {
                            text-align: center;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            text-transform: uppercase;

                            background: radial-gradient(circle, #E47E00 -25.13%, #FDDC02 2.89%, #FFF 55.68%);
                            background-size: 180% 180%;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: gradientSlide 8s ease-in-out infinite;
                        }
                    }

                    @keyframes gradientSlide {
                        0% {
                            background-position: 0% 0%;
                        }

                        50% {
                            background-position: 100% 50%;
                        }

                        100% {
                            background-position: 0% 0%;
                        }
                    }

                    .tag-subimg {
                        position: absolute;
                        right: -238px;
                        top: 510px;
                    }

                    ul {
                        margin-top: 20px;
                        margin-bottom: 39px;
                        list-style: none;
                        padding-left: 0;

                        li {
                            background: url('../images/marker.svg') no-repeat 0px 6px;
                            padding-left: 20px;

                            color: #FFF;
                            font-family: Muller;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                            /* 27.2px */
                        }
                    }

                    .btn-container {
                        width: max-content;
                        display: grid;
                        justify-content: center;

                        a {
                            .btn {
                                width: 413px;
                                height: 83px;
                                border-radius: 10px;
                                box-shadow: 0px -2px 28px 0px #FFD596 inset, 0px 3px 0px 0px #5B1B00, 0px 23px 39px -25px rgba(255, 138, 0, 0.70);
                                background: linear-gradient(95deg, #FFC700 7.87%, #F90 100.94%);
                                flex-shrink: 0;
                                transition: background-image 0.3s ease-in-out;
                                position: relative;
                                cursor: pointer;

                                span {
                                    position: relative;
                                    z-index: 2;
                                    color: #101010;
                                    font-family: Montserrat;
                                    font-size: 19px;
                                    font-weight: 700;
                                    line-height: normal;
                                    text-align: center;
                                    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.10);
                                }

                                .btn-bg {
                                    position: absolute;
                                    z-index: 1;
                                    border-radius: 10px;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: #FFEE52;
                                    opacity: 0;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                }
                            }

                            .btn:hover {
                                .btn-bg {
                                    opacity: 1;
                                }
                            }
                        }

                        p {
                            margin-top: 14px;
                            color: #7D7D7D;
                            text-align: center;
                            font-family: Muller;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 170%;
                            /* 22.1px */
                        }
                    }
                }

                .img-container {
                    width: max-content;
                    height: max-content;
                    position: absolute;
                    right: -354px;
                    top: 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .main-section-img {
                        position: relative;
                        z-index: 5;
                        animation: rotateClockwise 4s ease-in-out alternate infinite;
                    }

                    @keyframes rotateClockwise {
                        0% {
                            transform: rotate(-1deg) scale(1.02);
                        }

                        100% {
                            transform: rotate(1deg) scale(1);
                        }
                    }

                    .bg-img-g {
                        position: absolute;
                        margin-right: 110px;
                    }

                    .bg-img-g1 {
                        width: 669.393px;
                        height: 669.393px;
                        transform: rotate(5.496deg);
                        border-radius: 669.393px;
                        background: #AC520D;
                        mix-blend-mode: overlay;
                        filter: blur(75px);
                    }

                    .bg-img-g2 {
                        width: 673.25px;
                        height: 673.25px;
                        border-radius: 673.25px;
                        background: #AC520D;
                        mix-blend-mode: multiply;
                        filter: blur(75px);
                    }

                    .bg-img-g3 {
                        width: 580.684px;
                        height: 580.684px;
                        transform: rotate(5.496deg);
                        border-radius: 580.684px;
                        background: #AC520D;
                        mix-blend-mode: lighten;
                        filter: blur(75px);
                    }
                }
            }
        }

        .about-section {
            height: 1000px;
        }
    }

    // .footer {
    //     .container {}
    // }
}